.inner-body-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255);
    border-radius: 0.8em;
    border: 1px solid black;
    margin: 4em 8em 4em 8em;
}

.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column; */
    background-image: url('images/sheet_music2.png');
}

iframe {
    width: 7em;
    height: 7em;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

h1 {
    font-family: cursive;
    font-style: italic;
    font-size: 72px;
}

.input-box {
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 600px;
    background-color: floralwhite;
}

input {
    background-color: floralwhite;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    height: auto;
}

.input-box select {
    border: black;
    border-radius: 10px;
    width: 100%;
    background-color: floralwhite;
    font-size: 16px;
    margin-left: 10px;
    outline: 0;
    color: gray;
}

#answer-box {
    width: 700px;
    margin-top: 50px;
    background-color: floralwhite;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
}

#input-container {
    /* display: flex;
    border-style: none; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* #input-container>div {
    background-color: floralwhite;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */
#input-container h3 {
    margin: 0;
}

#input-container button {
    outline-style: none;
    margin: 10px;
    width: 200px;
    background-color: floralwhite;
    border-radius: 10px;
    border: 1px solid black;
}

#input-container button:hover {
    background-color: #e1d5bd;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.composers {
    font-family: 'Kanit', sans-serif;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}

.submit-button-container {
    border-radius: 10px;
    border: black;
}

a {
    color: black;
}

#loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    z-index: 1000;
}