<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <!-- <h1 id="google-4">4</h1>
                <h1 id="google-3">3</h1>
                <h1 id="google-0-1">0</h1>
                <h1 id="google-0-2">0</h1> -->
                <h1>Presto</h1>
            </div>

            <!-- TESTING DROPDOWN -->
            <!-- from https://www.codingnepalweb.com/search-bar-autocomplete-search-suggestions-javascript/ -->
            <!-- <div class="wrapper">
                <div class="search-input">
                    <a href="" target="_blank" hidden></a>
                    <input type="text" placeholder="Type to search..">
                    <div class="autocom-box"> -->
            <!-- here list are inserted from javascript -->
            <!-- </div>
                    <div class="icon"><i class="fas fa-search"></i></div>
                </div>
            </div> -->
            <!-- END DROPDOWN -->

            <!-- <div class="input-box">
                <select id="filter-text-val"></select>
            </div> -->
            <div class="input-box" onclick="sendFocus('filter-text-val')">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a classical album (a single word)" id="filter-text-val">
            </div>

            <!-- <div class="input-box" onclick="sendFocus('filter-text-genre')">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="Search for a classical genre" id="filter-text-genre">
                </div> -->
            <div class="input-box" onclick="sendFocus('filter-text-composer')">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a composer" id="filter-text-composer">
            </div>

            <div class="input-box">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <select id="filter-text-genre">
                    <option value="" selected hidden>Select a purpose (optional)</option>
                    <option value="study">study</option>
                    <option value="exercise">exercise</option>
                    <option value="relax">relax</option>
                    <option value="sleep">sleep</option>
                </select>
            </div>

        </div>

        <br>

        <div class="submit-button-container">
            <button onclick="filterText()">Submit Inputs</button>
        </div>


        <div id="answer-box">

        </div>
    </div>

    <!-- <script>
        $(document).ready(function () {
            $('#filter-text-val').select2({
                data: albums.map(album => ({ id: album, text: album }))
            });
        });
    </script> -->

    <!-- TESTING DROPDOWN -->
    <script src="suggestions.js"></script>
    <script src="script.js"></script>
    <!-- END DROPDOWN -->


    <script>

        function answerBoxTemplate(title, score) {
            return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>Similarity Score: ${score}</p>
            </div>`
        }

        function sendFocus(id) {
            document.getElementById(id).focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/albums?" + new URLSearchParams({
                title: document.getElementById("filter-text-val").value,
                genre: document.getElementById("filter-text-genre").value,
                composer: document.getElementById("filter-text-composer").value
            }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    // tempDiv.innerHTML = answerBoxTemplate(row.title, row.descr, row.imdb_rating)
                    tempDiv.innerHTML = answerBoxTemplate(row.titles, row.scores)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

    </script>
</body>