<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <!-- <h1 id="google-4">4</h1>
                <h1 id="google-3">3</h1>
                <h1 id="google-0-1">0</h1>
                <h1 id="google-0-2">0</h1> -->
                <h1>Presto</h1>
            </div>
            <div class="input-box" onclick="sendFocus('filter-text-val')">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a classical album" id="filter-text-val">
            </div>
            <div class="input-box">
                <select id="filter-text-genre">
                    <option value="" disabled selected hidden>Select a genre of interest</option>
                    <option value="Orchestra">Orchestra</option>
                    <option value="Chorus">Chorus</option>
                    <option value="Opera">Opera</option>
                    <option value="Piano">Piano</option>
                </select>
            </div>

            <!-- <div class="input-box" onclick="sendFocus('filter-text-genre')">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a classical genre" id="filter-text-genre">
            </div> -->
            <div class="input-box" onclick="sendFocus('filter-text-composer')">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a composer" id="filter-text-composer">
            </div>

        </div>

        <br>

        <div class="submit-button-container">
            <button onclick="filterText()">Submit Inputs</button>
        </div>


        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(title, review, rating) {
            return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${review}</p>
                <!-- <p class='episode-rating'>IMDB Rating: ${rating}</p> -->
            </div>`
        }

        function sendFocus(id) {
            document.getElementById(id).focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/albums?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    // tempDiv.innerHTML = answerBoxTemplate(row.title, row.descr, row.imdb_rating)
                    tempDiv.innerHTML = answerBoxTemplate(row.albums, row.reviews)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

    </script>
</body>