<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<body>
  <div class="full-body-container">
    <div class="top-text">
      <div class="google-colors">
        <!-- <h1 id="google-4">4</h1>
              <h1 id="google-3">3</h1>
              <h1 id="google-0-1">0</h1>
              <h1 id="google-0-2">0</h1> -->
        <a href="base.html">
          <h1>Presto</h1>
        </a>
      </div>




    </div>
  </div>
</body>