<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<body>
  <script>

    function getTitle() {
      fetch('/get_title')
        .then(response => response.json())
        .then(title => {
          if (title) {
            fetchResults(title);
          } else {
            console.error('No title found.');
          }
        })
        .catch(error => console.error('Error fetching title:', error));
    }


    // function fetchResults() {
    //   const composer = document.getElementById("filter-text-composer").value;
    //   document.getElementById("answer-box").innerHTML = ""

    //   var checkedValue = false;
    //   var inputElements = document.getElementsByClassName('exclude-composer');
    //   for (var i = 0; inputElements[i]; ++i) {
    //     if (inputElements[i].checked) {
    //       checkedValue = true;
    //       break;
    //     }
    //   }
    //   //console.log(document.getElementById("filter-text-val").value)
    //   fetch(`/albums?composer=${encodeURIComponent(composer)}&exclude=${(checkedValue)}`)
    //     .then(response => response.json())
    //     .then(data => {
    //       data.forEach(row => {

    //         let tempDiv = document.createElement("div");
    //         tempDiv.innerHTML = answerBoxTemplate(row.title, row.composer, row.score);
    //         document.getElementById("answer-box").appendChild(tempDiv);
    //       });
    //     })
    //     .catch(error => console.error('Error fetching results:', error));
    // }

    function filterText() {
      document.getElementById("answer-box").innerHTML = ""
      console.log(document.getElementById("filter-text-val").value)
      var checkedValue = null;
      var inputElements = document.getElementsByClassName('exclude-composer');
      for (var i = 0; inputElements[i]; ++i) {
        if (inputElements[i].checked) {
          checkedValue = inputElements[i].value;
          break;
        }
      }
      fetch("/albums?" + new URLSearchParams({
        composer: document.getElementById("filter-text-composer").value,
        exclude: checkedValue
      }).toString())
        .then((response) => response.json())
        .then((data) => data.forEach(row => {

          let tempDiv = document.createElement("div")
          // get title, composer, description (TODO) 
          tempDiv.innerHTML = answerBoxTemplate(row.title, row.artists, row.scores)
          document.getElementById("answer-box").appendChild(tempDiv)
        }));
    }

    function answerBoxTemplate(title, composer, score) {
      return `<div class=''>
              <h3 class='episode-title'>${title}</h3>
              <h3 class='composer'>${composer}</h3>
              <h3 class='era'>${era}</h3>
              <h3 class='desc'>${short_review}</h3>
              <p class='score'>Similarity Score: ${score}</p>
          </div>`
    }

    function sendFocus(id) {
      document.getElementById(id).focus()
    }

  </script>


  <div class="full-body-container">
    <div class="inner-body-container">
      <div class="top-text">
        <a href="home">
          <h1>Presto!</h1>
        </a>

        <div class="input-box" onclick="sendFocus('filter-text-composer')">
          <img src="{{ url_for('static', filename='images/mag.png') }}" />
          <input placeholder="What composer are you feeling like today?" id="filter-text-composer">
        </div>

        <br>

        <div class="exclude-composer-bool">
          <input type="checkbox" class="exclude-composer" name="composer-exclusion" value="exclude">Exclude this
          composer from my results
        </div>

        <br>

        <!-- submit button (to remove) -->
        <div class="submit-button-container-two">
          <button onclick="filterText()">Give Me Recommendations!</button>
        </div>
        <!-- submit button -->


        <div id="answer-box">

        </div>
      </div>
    </div>
  </div>

</body>